### The usual
.DS_Store
*~

### Ignore vagrant side-effects
.vagrant

### Ignore anything added to bin, but track changes on quickness commands
bin/*
!bin/quick
!bin/quick_apply
!bin/quick_formulas
!bin/quick_install
!bin/quick_new
!bin/quick_tweaks

### Ignore anything in formulas that starts with a P (Private/Personal)
formulas/P*
