### The usual
.DS_Store
*~

### Ignore vagrant side-effects
.vagrant

### Ignore anything added to bin, but track changes on quickness commands
bin/*
!bin/quick
!bin/quick_apply
!bin/quick_ec2
!bin/quick_ec2server
!bin/quick_formulas
!bin/quick_install
!bin/quick_instances
!bin/quick_new
!bin/quick_tweaks

### Ignore anything in the etc/private or formulas ending in .private
etc/private/*
formulas/*.private
