###
### Forumula Name
###
### Any information important to future developers.
### This is a guideline, sometimes formulas don't
### allow for something quite so simple.
###

###
### Initialize
###
if [ "$(is_formula_installed)" = "yes" ]; then
    quickness_teardown
    return
fi

quickness_msg "Include comments as needed"
<set any variables here, like>
# Since formulas can be nested use swap <formula> with the actual name of the formula
<formula>_PREV_DIR=$PWD
cd $QUICKNESS_SRC


###
### Dependencies
###

sudo apt-get -y install \
    <package> \
    <package> \
    <package>

. $Q/formula-a
. $Q/formula-b
. $Q/formula-c


###
### Installation
###

quickness_msg "Include comments as needed"

git clone ...
wget http://...
tar ...
blah blah
### Comments within a section
make && sudo make install


###
### Teardown
###

# cleanup
rm <any dirs or zips that aren't needed anymore>
cd $<formula>_PREV_DIR

# Final Message
quickness_msg "
  Put any final messages, notices or doc links here.
  They will be gathered up and printed when the top-level formula
  completes.  You could just use echo statements but if your formula
  gets used in other formulas the messages might get lost in the terminal.
  Multiline comments should be indented twice and start on a new line"

# This should try to be last statement in any formula
quickness_teardown
